################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IndusHireFlow/.vs
/IndusHireFlow/IndusHireFlow/bin/Debug/net10.0
/IndusHireFlow/IndusHireFlow/obj/Debug/net10.0
/IndusHireFlow/IndusHireFlow/bin/Debug/net8.0
/IndusHireFlow/IndusHireFlow/obj/Debug/net8.0
/IndusHireFlow/Business/bin/Debug/net8.0/Business.deps.json
/IndusHireFlow/Business/bin/Debug/net8.0/Business.dll
/IndusHireFlow/Business/bin/Debug/net8.0/Business.pdb
/IndusHireFlow/Business/obj/Debug/net8.0/ref/Business.dll
/IndusHireFlow/Business/obj/Debug/net8.0/refint/Business.dll
/IndusHireFlow/Business/obj/Debug/net8.0/Business.AssemblyInfo.cs
/IndusHireFlow/Business/obj/Debug/net8.0/Business.AssemblyInfoInputs.cache
/IndusHireFlow/Business/obj/Debug/net8.0/Business.assets.cache
/IndusHireFlow/Business/obj/Debug/net8.0/Business.csproj.AssemblyReference.cache
/IndusHireFlow/Business/obj/Debug/net8.0/Business.csproj.CoreCompileInputs.cache
/IndusHireFlow/Business/obj/Debug/net8.0/Business.dll
/IndusHireFlow/Business/obj/Debug/net8.0/Business.pdb
/IndusHireFlow/Business/obj/Debug/net8.0/Business.sourcelink.json
/IndusHireFlow/Business/obj/Business.csproj.nuget.dgspec.json
/IndusHireFlow/Business/obj/Business.csproj.nuget.g.targets
/IndusHireFlow/Business/obj/project.assets.json
/IndusHireFlow/Business/obj/project.nuget.cache
/IndusHireFlow/Data/obj/Debug/net8.0
/IndusHireFlow/Data/obj
/IndusHireFlow/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
/IndusHireFlow/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
/IndusHireFlow/Domain/obj/Debug/net8.0/Domain.AssemblyInfo.cs
/IndusHireFlow/IndusHireFlow/obj/IndusHireFlow.csproj.nuget.dgspec.json
/IndusHireFlow/IndusHireFlow/obj/IndusHireFlow.csproj.nuget.g.targets
/IndusHireFlow/IndusHireFlow/obj/project.assets.json
/IndusHireFlow/IndusHireFlow/obj/project.nuget.cache
/IndusHireFlow/Domain/obj/Debug/net8.0/Domain.AssemblyInfoInputs.cache
