################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IndusHireFlow/.vs
/IndusHireFlow/IndusHireFlow/bin/Debug/net10.0
/IndusHireFlow/IndusHireFlow/obj/Debug/net10.0
/IndusHireFlow/IndusHireFlow/bin/Debug/net8.0
/IndusHireFlow/IndusHireFlow/obj/Debug/net8.0
