name: Build and deploy ASP.Net Core app to Azure Web App - hireflow-api-demo

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build with dotnet
        run: dotnet build ./IndusHireFlow/IndusHireFlow/IndusHireFlow.csproj --configuration Release

      - name: dotnet publish
        run: dotnet publish ./IndusHireFlow/IndusHireFlow/IndusHireFlow.csproj -c Release -o "${{env.DOTNET_ROOT}}/myapp"

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_03992C3B208E4795922E5FCB2EA79E46 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_997315A28859411783A00E415740FB7F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_EF0F958021B44CF4BA566913C3FD4CB2 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'hireflow-api-demo'
          slot-name: 'Production'
          package: .